.container {
    text-align: center;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

.links {
    display: flex;
    justify-content: right;
}

.link {
    padding: 5px;
}
  